{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.v2.dumgum.com"
    }
  ],
  "paths": {
    "/cs/v1/content_creation/configuration": {
      "put": {
        "tags": [
          "content-creation"
        ],
        "summary": "Update project's content creation configuration",
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentCreationConfigurationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContentCreationConfigurationUpdateResponse"
                }
              }
            }
          }
        },
        "x-hideTryItPanel": true
      }
    },
    "/cs/v1/content_creation/conversations/enqueue": {
      "post": {
        "tags": [
          "content-creation"
        ],
        "summary": "Enqueue a conversation to be processed asynchronously",
        "operationId": "enqueue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentCreationConversationEnqueueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-hideTryItPanel": true
      }
    }
  },
  "components": {
    "schemas": {
      "ContentCreationConfiguration": {
        "type": "object",
        "properties": {
          "profileEndpointUrl": {
            "type": "string"
          },
          "chatHistoryEndpointUrl": {
            "type": "string"
          },
          "webhookEndpointUrl": {
            "type": "string"
          },
          "webhookEvents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "customHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "defaultMaxProcessingTimeSeconds": {
            "type": "integer",
            "format": "int32"
          },
          "likeActionEnabled": {
            "type": "boolean"
          },
          "conversationStopActionEnabled": {
            "type": "boolean"
          },
          "reportUserProfileActionEnabled": {
            "type": "boolean"
          },
          "pictureRequestActionEnabled": {
            "type": "boolean"
          },
          "privateAlbumRequestActionEnabled": {
            "type": "boolean"
          }
        },
        "required": [
          "chatHistoryEndpointUrl",
          "conversationStopActionEnabled",
          "customHeaders",
          "defaultMaxProcessingTimeSeconds",
          "likeActionEnabled",
          "pictureRequestActionEnabled",
          "privateAlbumRequestActionEnabled",
          "profileEndpointUrl",
          "reportUserProfileActionEnabled",
          "webhookEndpointUrl",
          "webhookEvents"
        ]
      },
      "ContentCreationConfigurationUpdateRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "contentCreationConfiguration": {
            "$ref": "#/components/schemas/ContentCreationConfiguration"
          }
        },
        "required": [
          "contentCreationConfiguration",
          "projectId"
        ]
      },
      "ContentCreationConfigurationUpdateResponse": {
        "type": "object",
        "properties": {
          "contentCreationConfiguration": {
            "$ref": "#/components/schemas/ContentCreationConfiguration"
          }
        },
        "required": [
          "contentCreationConfiguration"
        ]
      },
      "ContentCreationConversationEnqueueRequest": {
        "type": "object",
        "description": "Represents a request to enqueue a conversation",
        "properties": {
          "language": {
            "type": "string",
            "enum": [
              "EN",
              "FR",
              "RO",
              "NL",
              "ES",
              "DE",
              "ES_LATAM"
            ]
          },
          "userProfileId": {
            "type": "string"
          },
          "personaProfileId": {
            "type": "string"
          },
          "replyMode": {
            "type": "string",
            "enum": [
              "AI",
              "HUMAN"
            ]
          },
          "userProfileVersion": {
            "type": "string"
          },
          "personaProfileVersion": {
            "type": "string"
          },
          "aiPersonaName": {
            "type": "string"
          },
          "message": {
            "$ref": "#/components/schemas/ContentCreationConversationEnqueueRequest.Message"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "maxProcessingTimeSeconds": {
            "type": "integer",
            "format": "int32"
          },
          "testmode": {
            "type": "boolean"
          },
          "contentCreationProductType": {
            "type": "string",
            "enum": [
              "CASUAL_DATING",
              "BDSM"
            ]
          },
          "replyParameters": {
            "$ref": "#/components/schemas/ContentCreationQueueConversationReplyParameterSet"
          }
        },
        "required": [
          "language",
          "personaProfileId",
          "replyMode",
          "replyParameters",
          "tags",
          "testmode",
          "userProfileId"
        ]
      },
      "ContentCreationConversationEnqueueRequest.Message": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "enum": [
              "ACTION_FAVORITE_ADD",
              "ACTION_FAVORITE_REMOVE",
              "ACTION_LIKE",
              "ACTION_PICTURE_REQUEST",
              "ACTION_PICTURE_SHARE",
              "ACTION_PRIVATE_ALBUM_ALLOW",
              "ACTION_PRIVATE_ALBUM_DENY",
              "ACTION_PRIVATE_ALBUM_REQUEST",
              "TEXT"
            ]
          },
          "pictureUrl": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "required": [
          "date",
          "type"
        ]
      },
      "ContentCreationQueueConversationReplyParameterSet": {
        "type": "object",
        "properties": {
          "like": {
            "type": "boolean"
          },
          "favorite": {
            "type": "string",
            "enum": [
              "ABSENT",
              "PRESENT"
            ]
          },
          "pictureRequest": {
            "type": "boolean"
          },
          "shareablePictures": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "privateAlbumAccess": {
            "type": "string",
            "enum": [
              "ALLOW",
              "DENY"
            ]
          },
          "profileDistance": {
            "type": "integer",
            "format": "int32"
          },
          "customInstructionName": {
            "type": "string"
          },
          "emojis": {
            "type": "boolean"
          },
          "aiPersonaName": {
            "type": "string"
          },
          "aiHumanFallback": {
            "type": "boolean"
          },
          "aiBufferSeconds": {
            "type": "integer",
            "format": "int32"
          },
          "privateAlbumRequest": {
            "type": "boolean"
          },
          "conversationStop": {
            "type": "boolean"
          },
          "reportUserProfile": {
            "type": "boolean"
          },
          "maxProcessingTimeSeconds": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": [
          "aiHumanFallback"
        ]
      }
    }
  }
}
