{
  "openapi": "3.1.0",
  "info": {
    "title": "DUMGUM",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.v2.dumgum.com"
    }
  ],
  "paths": {
    "/cs/v1/content_creation/configuration": {
      "put": {
        "tags": [
          "content-creation"
        ],
        "summary": "Update configuration",
        "operationId": "content-creation-configuration-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentCreationConfigurationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ContentCreationConfigurationUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cs/v1/content_creation/conversations/enqueue": {
      "post": {
        "tags": [
          "content-creation"
        ],
        "summary": "Enqueue Conversation",
        "description": "Enqueue a conversation to be processed asynchronously",
        "operationId": "content-creation-conversations-enqueue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentCreationConversationEnqueueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ContentCreationProfileFeatureSet": {
        "type": "object",
        "properties": {
          "ethnicity": {
            "type": "string",
            "enum": [
              "ASIAN",
              "BLACK",
              "CAUCASIAN",
              "MIDDLE_EAST",
              "OTHER"
            ]
          },
          "height": {
            "type": "integer",
            "format": "int32"
          },
          "weight": {
            "type": "integer",
            "format": "int32"
          },
          "eyesColor": {
            "type": "string",
            "enum": [
              "BLACK",
              "BLUE_GREY",
              "BLUE",
              "BROWN",
              "GREEN_BLUE",
              "GREEN",
              "GREY"
            ]
          },
          "hairColor": {
            "type": "string",
            "enum": [
              "BLACK",
              "BLOND",
              "BROWN",
              "DARK_BLOND",
              "GREY",
              "RED",
              "WHITE"
            ]
          },
          "hairLength": {
            "type": "string",
            "enum": [
              "AVERAGE",
              "BALD",
              "HALF_LONG",
              "LONG",
              "SHORT",
              "VERY_LONG",
              "VERY_SHORT"
            ]
          },
          "maritalStatus": {
            "type": "string",
            "enum": [
              "SINGLE",
              "SEPARATED",
              "IN_RELATIONSHIP",
              "MARRIED",
              "DIVORCED",
              "WIDOW"
            ]
          },
          "job": {
            "type": "string",
            "enum": [
              "ACCOUNTANT",
              "ADMINISTRATIVE_ASSISTANT",
              "BANK",
              "CASHIER",
              "CHEF",
              "FINANCIAL_ANALYST",
              "FLIGHT_ATTENDANT",
              "GRAPHIC_DESIGNER",
              "HUMAN_RESOURCES",
              "INFORMATION_TECHNOLOGY",
              "LAWYER",
              "LOGISTICS",
              "NURSE",
              "PARALEGAL",
              "PHYSICIAN",
              "POLICE_OFFICER",
              "PROJECT_MANAGER",
              "PUBLIC_RELATIONS",
              "RECEPTIONIST",
              "RETAIL_MANAGER",
              "SALESWOMAN",
              "SCIENTIST",
              "SECRETARY",
              "SOCIAL_WORKER",
              "SOFTWARE_DEVELOPER",
              "TEACHER",
              "VETERINARIAN"
            ]
          },
          "interests": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "BDSM_BLOOD_PLAY",
                "BDSM_BONDAGE",
                "BDSM_BREATH_PLAY",
                "BDSM_BUTTOCKS",
                "BDSM_DOMINATION",
                "BDSM_EDGE_PLAY",
                "BDSM_FIRE_PLAY",
                "BDSM_FISTING",
                "BDSM_FLOGGING",
                "BDSM_GOLDEN_SHOWER",
                "BDSM_HARD",
                "BDSM_KINKSTER",
                "BDSM_KNIFE_PLAY",
                "BDSM_MASOCHIST",
                "BDSM_NEEDLE_PLAY",
                "BDSM_ORGASM_DENIAL",
                "BDSM_PET_PLAY",
                "BDSM_QUEENING_FACESITTING",
                "BDSM_SADISM",
                "BDSM_SOFT",
                "BDSM_STRAP_ON_DILDO",
                "BDSM_SUBMISSION",
                "BDSM_SUSPENSION",
                "BDSM_ZENTAI"
              ]
            }
          },
          "lookingFor": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "MAN",
                "WOMAN"
              ]
            }
          },
          "sexualOrientation": {
            "type": "string",
            "enum": [
              "HETEROSEXUAL",
              "GAY",
              "LESBIAN",
              "BISEXUAL",
              "ASEXUAL",
              "DEMISEXUAL",
              "PANSEXUAL",
              "QUEER",
              "QUESTIONING",
              "AROMANTIC",
              "OMNISEXUAL",
              "NOT_LISTED"
            ]
          },
          "childrenCount": {
            "type": "string",
            "format": "byte"
          },
          "wantsChildren": {
            "type": "boolean"
          }
        },
        "required": [
          "interests",
          "lookingFor"
        ]
      },
      "ContentCreationProfileFetchResult": {
        "type": "object",
        "properties": {
          "ttl": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string"
          },
          "profile": {
            "$ref": "#/components/schemas/ProfileResult"
          }
        },
        "required": [
          "profile"
        ]
      },
      "ContentCreationProfilePersonalitySet": {
        "type": "object",
        "properties": {
          "personality": {
            "type": "string",
            "enum": [
              "SUPPORTIVE",
              "TEASING",
              "CONFIDENT",
              "GEEKY",
              "POETIC",
              "HIGH_ENERGY",
              "INTELLECTUAL",
              "ROMANTIC",
              "SARCASTIC",
              "POSSESSIVE",
              "NATURAL",
              "APPRECIATIVE",
              "PASSIONNATE"
            ]
          },
          "writingStyle": {
            "$ref": "#/components/schemas/WritingStyle"
          }
        },
        "required": [
          "personality",
          "writingStyle"
        ]
      },
      "ProfileResult": {
        "type": "object",
        "properties": {
          "gender": {
            "type": "string",
            "enum": [
              "WOMAN",
              "MAN"
            ]
          },
          "firstName": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "birthdate": {
            "type": "string",
            "format": "date"
          },
          "countryCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "timeZone": {
            "type": "string"
          },
          "features": {
            "$ref": "#/components/schemas/ContentCreationProfileFeatureSet"
          },
          "personality": {
            "$ref": "#/components/schemas/ContentCreationProfilePersonalitySet"
          },
          "mainPictureUrl": {
            "type": "string"
          },
          "pictures": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "privatePictures": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "features",
          "gender",
          "pictures",
          "privatePictures"
        ]
      },
      "WritingStyle": {
        "type": "object",
        "properties": {
          "sentenceLength": {
            "type": "string",
            "enum": [
              "SHORT",
              "REGULAR",
              "LONG"
            ]
          },
          "messageLength": {
            "type": "string",
            "enum": [
              "SHORT",
              "REGULAR",
              "LONG"
            ]
          },
          "errors": {
            "type": "string"
          },
          "vocabRichness": {
            "type": "string"
          },
          "formality": {
            "type": "string"
          },
          "slangUsage": {
            "type": "string"
          },
          "punctuationEmphasis": {
            "type": "string"
          },
          "approach": {
            "type": "string"
          }
        },
        "required": [
          "approach",
          "errors",
          "formality",
          "messageLength",
          "punctuationEmphasis",
          "sentenceLength",
          "slangUsage",
          "vocabRichness"
        ]
      },
      "ContentCreationConfiguration": {
        "type": "object",
        "properties": {
          "profileEndpointUrl": {
            "type": "string"
          },
          "chatHistoryEndpointUrl": {
            "type": "string"
          },
          "webhookEndpointUrl": {
            "type": "string"
          },
          "webhookEvents": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "answer.created",
                "answer.processing"
              ]
            },
            "uniqueItems": true
          },
          "customHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "defaultMaxProcessingTimeSeconds": {
            "type": "integer",
            "format": "int32"
          },
          "reportUserProfile": {
            "type": "boolean"
          },
          "conversationStoppable": {
            "type": "boolean"
          },
          "allowedActions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "POKE",
                "PICTURE_REQUEST",
                "PRIVATE_ALBUM_REQUEST"
              ]
            },
            "uniqueItems": true
          }
        },
        "required": [
          "allowedActions",
          "chatHistoryEndpointUrl",
          "conversationStoppable",
          "customHeaders",
          "defaultMaxProcessingTimeSeconds",
          "profileEndpointUrl",
          "reportUserProfile",
          "webhookEndpointUrl",
          "webhookEvents"
        ]
      },
      "ContentCreationConfigurationUpdateRequest": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string"
          },
          "contentCreationConfiguration": {
            "$ref": "#/components/schemas/ContentCreationConfiguration"
          }
        },
        "required": [
          "contentCreationConfiguration",
          "projectId"
        ]
      },
      "ContentCreationConfigurationUpdateResponse": {
        "type": "object",
        "properties": {
          "contentCreationConfiguration": {
            "$ref": "#/components/schemas/ContentCreationConfiguration"
          }
        },
        "required": [
          "contentCreationConfiguration"
        ]
      },
      "ContentCreationConversationEnqueueRequest": {
        "type": "object",
        "description": "Represents a request to enqueue a conversation",
        "properties": {
          "userProfileId": {
            "type": "string",
            "description": "A user profile ID; this will represent the profile that will receive the generated reply.",
            "minLength": 1
          },
          "personaProfileId": {
            "type": "string",
            "description": "A persona profile ID; this will represent the profile that our operator will impersonate.",
            "minLength": 1
          },
          "language": {
            "type": "string",
            "description": "The language used to generate the reply.",
            "enum": [
              "EN",
              "EN_GB",
              "FR",
              "FR_BE",
              "RO",
              "NL",
              "ES",
              "DE",
              "ES_LATAM"
            ]
          },
          "userProfileVersion": {
            "type": [
              "string",
              "null"
            ],
            "description": "Specify the current user profile version. If it differs from the stored version, it will trigger a profile data refresh."
          },
          "personaProfileVersion": {
            "type": [
              "string",
              "null"
            ],
            "description": "Specify the current persona profile version. If it differs from the stored version, it will trigger a profile data refresh."
          },
          "tags": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "description": "A map of tags to associate with the generated answer. You can use any key-value pair to store additional information along with your request."
          },
          "testMode": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Specify whether the conversation should be processed in test mode. In test mode, you will receive a dummy answer, which is useful for testing purposes.\n> **You will not be charged** when using test mode."
          },
          "replyParameters": {
            "type": [
              "object",
              "null"
            ],
            "$ref": "#/components/schemas/ContentCreationQueueConversationReplyParameterSet",
            "description": "A set of parameters that allow you to customize the reply you receive from us, enabling greater flexibility and control over the response format, content, and behavior."
          }
        },
        "required": [
          "language",
          "personaProfileId",
          "userProfileId"
        ]
      },
      "ContentCreationQueueConversationReplyParameterSet": {
        "type": "object",
        "properties": {
          "aiMessageFrequency": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Allows you to alternate between AI and human messages. For example, using the value 2, every other message will be an AI response.",
            "maximum": 10,
            "minimum": 2
          },
          "aiSentenceLength": {
            "type": [
              "string",
              "null"
            ],
            "description": "AI Only. Allow you to specify the length of the sentences composing the response. Default to REGULAR",
            "enum": [
              "SHORT",
              "REGULAR",
              "LONG"
            ]
          },
          "aiMessageLength": {
            "type": [
              "string",
              "null"
            ],
            "description": "AI Only. Allow you to specify the length of the response",
            "enum": [
              "SHORT",
              "REGULAR",
              "LONG"
            ]
          },
          "aiPersonality": {
            "type": [
              "string",
              "null"
            ],
            "description": "AI Only. Allow you to override the personality given to the persona",
            "enum": [
              "SUPPORTIVE",
              "TEASING",
              "CONFIDENT",
              "GEEKY",
              "POETIC",
              "HIGH_ENERGY",
              "INTELLECTUAL",
              "ROMANTIC",
              "SARCASTIC",
              "POSSESSIVE",
              "NATURAL",
              "APPRECIATIVE",
              "PASSIONNATE"
            ]
          },
          "profileDistance": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Distance between the persona profile and the user in kilometers or miles."
          },
          "emojis": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Allows our operator/chat models to add emojis to the reply."
          },
          "aiChatModel": {
            "type": [
              "string",
              "null"
            ],
            "description": "Allows you to set the AI chat model to use for generating the reply.",
            "enum": [
              "gen-hard-inter-20240724",
              "gen-hard-inter-2024-12-03",
              "dating-smart-1",
              "dating-pro-1"
            ]
          },
          "aiBufferSeconds": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "default": "15",
            "description": "Allows you to set the AI buffer time (in seconds). This delay enables the AI to wait before generating a response, allowing it to accumulate more messages.",
            "maximum": 60,
            "minimum": 0
          },
          "maxProcessingTimeSeconds": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "default": "600",
            "description": "\nAllows you to set the maximum processing time (in seconds) for a reply.\nIf this time limit is exceeded, the conversation will be dropped, and\nyou will receive an `conversation.dropped` webhook event.\n\n> **WARNING: This value may occasionally be exceeded by several seconds due to various factors.**\n",
            "maximum": 86400,
            "minimum": 600
          },
          "aiEnableSexualTextContent": {
            "type": "boolean",
            "default": "true",
            "description": "Allows our chat models to generate sexual text content."
          },
          "aiFixedResponseLength": {
            "type": "boolean",
            "default": "false",
            "description": "Force our chat model to strictly respect `aiSentenceLength` and `aiMessageLength` parameters"
          }
        }
      }
    }
  },
  "webhooks": {
    "ProfileEndpoint": {
      "post": {
        "parameters": [
          {
            "name": "profileId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentCreationProfileFetchResult"
                }
              }
            }
          }
        }
      }
    }
  }
}